body {
	background-color: gainsboro;
}

.person-list-tool-bar {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin: 10px 0;
}

.person-list-add-button {
	padding: 5px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid DarkBlue;
	background-color: LightBlue;
}


.person-list-reload-button {
	padding: 5px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid Gray;
	background-color: Gainsboro;
}

.person-list-edit-button {
	border-radius: 5px;
	margin: 5px;
	border: 1px solid DarkBlue;
	background-color: LightBlue;		
}

.person-list-delete-button {
	border-radius: 5px;
	margin: 5px;
	border: 1px solid OrangeRed;
	background-color: LightYellow;		
}